---
import { Image } from "astro:assets";
import Tag from "../ui/Tag";

const { data } = Astro.props;
const { title, excerpt, tags, postId, image, slug } = data;
const postImage = `/postImages/${image}`;
---

<div
  class="overflow-hidden m-4 w-[23rem] mb-20 border border-blue-500 rounded-lg">
  <div class="w-[100%] h-[13rem]">
    <Image
      src={postImage}
      width={500}
      height={500}
      format="webp"
      alt="post-Covrer"
      loading={postId > 3 ? "lazy" : "eager"}
    />
  </div>
  <div class="w-[100%] p-4">
    <div class="w-[100%]">
      <h1 class="text-xl text-blue-500 font-bold mb-2">{title}</h1>
      <p>{excerpt}</p>
    </div>
    <div class="w-[100%] flex flex-wrap mt-4">
      {tags?.map((item: string) => <Tag text={item} />)}
    </div>
    <div class="my-5">
      <a
        href={`/blogs/posts/${slug}`}
        class="bg-blue-500 rounded-lg p-3 text-white"
        data-astro-prefetch="hover">Read this Post</a
      >
    </div>
  </div>
</div>
