---
import { Image } from "astro:assets";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
const PostImage = `/postImages/${frontmatter.image}`;
---

<MainLayout
  title={frontmatter.title}
  description="in this page you can read post content">
  <div class="w-[100%] rounded-t-3xl my-24 overflow-hidden">
    <Image
      class="w-[100%] h-[32rem]"
      width={100}
      height={100}
      format="webp"
      quality={90}
      src={PostImage}
      loading="eager"
      alt="Post-baner"
    />
    <div class="mt-16 mb-14 bg-slate-200 rounded-lg p-7">
      <h1 class="text-3xl font-bold text-blue-500">{frontmatter.title}</h1>
      <h2 class="text-xl font-bold mt-4">Post Author : {frontmatter.author}</h2>
      <p class="text-md mt-4">Created in : {frontmatter.date}</p>
    </div>
    <slot />
  </div>
</MainLayout>
<script type="module" async>
  const codes = document.querySelectorAll("pre");
  const titles = document.querySelectorAll("h1");
  codes.forEach((pre) => {
    pre.removeAttribute("tabindex");
    pre.setAttribute("class", "p-5 rounded-lg my-4");
  });
  titles.forEach((h1) =>
    h1.setAttribute("class", " text-blue-500 font-bold text-2xl my-2")
  );
</script>
